@charset "UTF-8";
body,
ul,
li,
span,
b,
p,
strong,
ol,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
input,
a,
div,
img,
textarea {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  min-width: 1200px; 
  color:#666;
}

body,
html {
  height: 100%; }

img {
  border: 0 none;
  vertical-align: top; }

.content {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  *zoom: 1; }

.content:after {
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
  display: block; }

body {
  font-family: "微软雅黑";
  position: relative;
  background: #fff; }

li {
  font-family: "微软雅黑";
  list-style: none; }

input {
  outline: 0;
  font-family: "微软雅黑"; }

a {
  color: #666;
  text-decoration: none; }

.lf {
  float: left; }

.rt {
  float: right; }
  $hover:#549966;
.head{
  .header{
    line-height: 30px;
    height:30px;
    background: #333333;
    font-size: 12px;
    margin-bottom: 28px;
    .content{
      overflow: visible;
    }
    .lf{
      color:#fff;
      opacity: 0.6;
      span{
        float:left;
        padding-right: 20px;
      }
      .loginno,.loginhas{
        float:left;
      }
      .login{
        color:#108c2a;
        padding-right: 8px;
        display: inline-block;
      }
      .register{
        color:#fff;
      }
    }
    .rt{
      li{
        float:left;
        position: relative;
        padding:0 16px;
        background: url("../img/x.png") no-repeat right center;
        .fo{
          display: block;
          color:#fff;
          opacity: 0.6;
        }
          a:hover{
          color:$hover;
        }
        .downapp{
          padding-left: 16px;
          background: url("../img/phone.png") no-repeat left center;
        }
      }
      li.last{
        background: none;
        transition-duration: 500ms;
        background: #3b3b3b;
        width:88px;
        .fo{
          display: block;
          padding-left: 24px;
          background: url("../img/sp.png") no-repeat left 8px;
        }
      
        i{
          font-style: normal;
          padding:0 2px;
        }
        .buycar{
          width:316px;
          position: absolute;
          right:0;
          background: #fff;
          box-shadow: 0 2px 4px #999;
          top:30px;
          z-index:111;
          display: none;
          padding-top: 26px;
          dd{
            display: block;
            width:276px;
            padding:10px 0;
            overflow: hidden;
            margin:0 20px;
              border-bottom:1px solid #e0e0e0;
            a{
              display: block;
            }
            img{
              float:left;
              margin-right: 12px;
            }
            .tit{
              line-height: 20px;
              color: #333;
              width: 100px;
              margin-top: 6px;
              float: left
            }
            .pay{
              float:right;
              width:70px;
              line-height: 20px;
              color:#333;
              margin-top: 6px;
            }
            a:hover{
              .tit{
                color:$hover;
              }
            }
          }
          dd:nth-last-child(2){
            border-bottom:0 none;
          }
        
          dt{
            height:60px;
            padding-top: 14px;
            padding-left: 20px;
            background: #fafafa;
            .l{
              float:left;
              p{
                line-height: 16px;
                display: block;
                color:#999;
              }
              .mony{
                line-height: 30px;
                color:#d70000;
                 span{
                   font-size:24px;
                   font-family: Arial;
                 }
              }
            }
            a{
              display: block;
              float:right;
              width:130px;
              height:40px;
              line-height: 40px;
              text-align: center;
              background: #0c643c;
              color:#fff;
              margin-right: 20px;
            }
            a:hover{
              background: $hover;
              color:#fff;
            }
          }
        }
      }
      li.last:hover{
        opacity: 1;
        background: #fff;
        .fo{
           opacity: 1;
          background-image: url("../img/g.png");
          color:#0c643c;
        }
        .buycar{
          display: block;
        }
      }
    }
  }
  .cter{
    margin-bottom:-24px;
    .ytlogo{
      width:324px;
      height:49px;
      display: block;
      float:left;
      margin-top: 16px;
      margin-right: 86px;
      background: url("../img/yt.png") no-repeat;
    }
    .tblogo{
      width:324px;
      height:49px;
      display: block;
      float:left;
      margin-top: 16px;
      margin-right: 86px;
      background: url("../img/tblogo.png") no-repeat;
    }
    .findbox{
      float:left;
       margin-top: 16px;
       position: relative;
       height:68px;
      .find{
        width:530px;
        height:40px;
        border:2px solid #0c643c;
        .selt{
          width:110px;
          float:left;
          background: url("../img/fd.png") no-repeat 12px 14px;
          dt{
            width:110px;
            text-align: center;
            font-size: 13px;
            color:#333;
            line-height: 40px;
            height:40px;
            cursor: pointer;
            background: url("../img/sj.png") no-repeat 90% center;
           }
          dd{
            width:100%;
            text-align: center;
            font-size: 13px;
            line-height: 30px;
            display: none;
          }
        }
        input{
          width:338px;
          float:left;
          border: 0 none;
          height:40px;
          background: none;
        }
        .sub{
          width:82px;
          height:40px;
          line-height: 40px;
          text-align: center;
          color:#fff;
          font-size: 14px;
          display: block;
          float:right;
          background: #0c643c;
        }
      }
      .ytfind{
        padding-left: 34px;
        background: url("../img/fd.png") no-repeat 12px 14px;
      }
      .key{
        position: absolute;
        bottom:0;
        line-height: 24px;
        a{
          padding-right: 8px;
          font-size: 12px;
        }
        a:hover{
          color:$hover;
        }
        .gre{
          color:#0c643c;
        }
      }
    }
  }
  .ewm{
    width:103px;
    float:right;
    padding-top: 103px;
    background: url("../img/ewm.jpg") no-repeat;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
  }
  .dls{
    line-height: 38px;
    border-bottom: 1px solid #0c643c;
    .all{
      float:left;
      width:190px;
      background: #0c643c;
      height:38px;
      font-size: 15px;
      color:#fff;
      text-align: center;
    }
    li{
      float:left;
      margin-left: 26px;
      a:hover{
        color:$hover;
      }
    }
  }
}
.footer{
  padding-bottom: 10px;
  padding-top: 100px;
  background: url("../img/fo.png") no-repeat center 28px  #eaeaea;
  .fot{
    border-top:1px  solid #dedede;
    padding-top: 24px;
    dl{
      margin-right: 70px;
      margin-left: 30px;
      float:left;
      dt{
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
      }
      dd{
        line-height: 22px;
        a{
          color:#888;
          transition-duration: 500ms;
        }
        font-size: 12px;
      }
      a:hover{
        color:$hover;
      }
    }
    .rt{
      width:220px;
      text-align: right;
      .tel{
        line-height: 30px;
        color:#333;
        font-size: 24px;
        font-family: Arial;
      }
      .say{
        font-size: 13px;
        color:#666;
        line-height: 24px;
      }
      .ewm{
        margin-top: 16px;
        padding-right: 118px;
        height:103px;
        line-height: 28px;
        padding-top: 20px;
        font-size: 12px;
        background: url("../img/ewm.jpg") no-repeat right top;
      }
    }
  }
  .lfot{
    border-top:1px  solid #dedede;
    margin-top: 10px;
    padding-top: 14px;
    text-align: center;
    .ac{
      line-height: 22px;
      font-size: 12px;
      a{
         transition-duration: 500ms;
      }
      a:hover{
        color:$hover;
      }
    }
    .bot{
      line-height: 24px;
      color:#999;
      font-size: 12px;
    }
  }
}